html {
  font-size: 1vmax;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  scrollbar-width: thin;
  scrollbar-color: #085078 #f9f9f9;
  letter-spacing: .05rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #f9f9f9
}

body::-webkit-scrollbar {
  width: 0;
  background-color: #f9f9f9;
}

body::-webkit-scrollbar-thumb {
  background-color: #063955;
  color: #f9f9f9;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

p,
h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
}